/* Removing the backticks from inline code-blocks that were added by Tailwind */
.prose code::before,
.prose code::after {
  content: "" !important;
}

/* Removing the " from quotes that were added by Tailwind */
.prose blockquote p:first-of-type::before,
.prose blockquote p:last-of-type::after {
  content: "" !important;
}

/* Remove the boldness from the quotes */
.prose blockquote {
  font-weight: normal !important;
}

/* Adding more side space to the inline code blocks */
.prose p code.language-text,
.prose li code.language-text,
.prose th code.language-text,
.prose tr code.language-text,
.prose td code.language-text {
  padding: 2px 5px 1px 5px;
  font-weight: normal;
}

/* Align images in blog post to the center of the page */
.prose p>img {
  margin: auto;
}

/*
 Fixing the issue with the anchor link from the "gatsby-remark-autolink-headers" plugin
 being always visible after migrating from "gatsby-transformer-remark" to "gatsby-plugin-mdx"
*/
.prose h1>a.gatsby-remark-autolink-header-anchor,
.prose h2>a.gatsby-remark-autolink-header-anchor,
.prose h3>a.gatsby-remark-autolink-header-anchor,
.prose h4>a.gatsby-remark-autolink-header-anchor,
.prose h5>a.gatsby-remark-autolink-header-anchor {
  visibility: hidden;
  display: inline-block;
  margin-left: 10px;
}

.prose h1:hover>a.gatsby-remark-autolink-header-anchor,
.prose h2:hover>a.gatsby-remark-autolink-header-anchor,
.prose h3:hover>a.gatsby-remark-autolink-header-anchor,
.prose h4:hover>a.gatsby-remark-autolink-header-anchor,
.prose h5:hover>a.gatsby-remark-autolink-header-anchor {
  visibility: visible;
}
