/* Removing the backticks from inline code-blocks that were added by Tailwind */
.prose code::before,
.prose code::after {
  content: "" !important;
}

/* Removing the " from quotes that were added by Tailwind */
.prose blockquote p:first-of-type::before,
.prose blockquote p:last-of-type::after {
  content: "" !important;
}

/* Adding more side space to the inline code blocks */
.prose p code.language-text {
  padding: 2px 5px 1px 5px;
  font-weight: normal;
}
