/* @TODO: Remove unused Roboto font variants to reduce the bundle size */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;

/*
Adding base styles
@see: https://tailwindcss.com/docs/adding-base-styles
*/
@layer base {
  /*.blog-post h1 {*/
  /*  @apply text-3xl;*/
  /*}*/
}

@tailwind components;
@tailwind utilities;

@import "custom.css";
