body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}
